$themeColor: green;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./header";

@mixin flexbox {
    display: flex;
}

h1 {
    background-color: green;
    @include flexbox;
}
